# Unity
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

# IDE
.vs/
.vscode/
.idea/

# C# / Visual Studio
*.csproj
*.sln
*.user
*.unityproj
*.booproj
*.svd

# Build / Export
ReadyBuilds/
*.apk
*.aab
*.zip
*.rar

# OS
.DS_Store
Thumbs.db